## TODO: we can probably lax some of these exact versions
aiofiles==22.1.0
anyio
asgiref==3.5.2
certifi==2021.10.8
chardet==5.1.0
click==8.1.3
fastapi==0.120.1
geopandas==1.0.1
geopy==2.4.1
gurobipy==11.0.0
h11==0.13.0
idaes-pse
idna==3.3
openai==2.15.0
pint>=0.23
pydantic==2.12.5
pydantic-settings==2.12.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2026.0
pyomo
python-dotenv
python-multipart==0.0.5
sniffio==1.2.0
# starlette
tinydb==4.7.1
typing_extensions==4.15.0
uvicorn==0.17.6
## Install project pareto WITHOUT tensor flow - currently only in my fork
git+https://github.com/MichaelPesce/project-pareto.git@remove-tensorflow